@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
}

:root { color-scheme: light dark; }
body { @apply text-gray-900 bg-white dark:bg-[#0a0a0a] dark:text-[#f2f2f2]; }
figure { @apply bg-white dark:bg-[#0f0f10]; }
